RewriteEngine on



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ http://localhost/jobportal/$1 [R]

