
body {
    background: transparent url(../images/background.gif);
}

#wrapper {
    background-color: #FFF;
    width: 800px;
    margin: 100px auto auto auto;
    padding: 2em;
    border: 1px solid #808080;
}

#header h1 {
    border-bottom: 1px solid #777;
    color: #555;
    padding-bottom: 0.2em;
}

#content h3 {
    color: #434690;
}

#footer {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #D6D6D6 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #999999;
    bottom: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    line-height: 2em;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100% !important;
    z-index: 4;
}