/* -------------------------------------------------------------- 
   
   forms.css
   * Allows the creation of vertical and horizontal forms
   * Allows sets up basic input element styles
   
-------------------------------------------------------------- */

/* Basic form styles */       
form ol { margin: 0px; padding: 0px; list-style-type: none; }  
form li { display: block; padding: 0.2em; }       
form label { display: block; font-weight: bold; } 
form em { color: red; background-color: #fff; }   
       
/* Input elements */
form input.text, form textarea { width: 20em; }
form select { width: 15em; }
form input.file { width: 20em; }

/* Special readonly style */
form .readonly { background-color: #E0DFE3; color: #99968A; }

/* Form rows */
form.horizontal li label { display: -moz-inline-box; width: 15em; vertical-align: top; }  
* form.horizontal li label { display: inline-block;  }

/* Checkbox row */
/*
form.vertical li.checkbox span { display: inline; }
form.horizontal li.checkbox label { display: inline; width: 90%; }
form.horizontal li.checkbox span { display: inline; }
*/

/* Submit Button Area */
form.vertical li.submit { text-align: center; }  
form.horizontal li.submit { margin-left: 15em; } 



#wrapper {
	width:980px;
	margin:50px  auto 0px auto;
	
/*  background: #c9c9c9; 
background: -moz-linear-gradient(top,  #c9c9c9 0%, #fcfcfc 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(99%,#fcfcfc)); 
background: -webkit-linear-gradient(top,  #c9c9c9 0%,#fcfcfc 99%); 
background: -o-linear-gradient(top,  #c9c9c9 0%,#fcfcfc 99%); 
background: -ms-linear-gradient(top,  #c9c9c9 0%,#fcfcfc 99%);
background: linear-gradient(to bottom,  #c9c9c9 0%,#fcfcfc 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#fcfcfc',GradientType=0 );*/
padding: 2em 0em 0em 0em;
/*border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-ms-border-radius:5px;
-khtml-border-radius:5px;
box-shadow:0px 0px 10px #CCC;
-moz-box-shadow:0px 0px 10px #ccc;
-webkit-box-shadow:0px 0px 10px #ccc*/
overflow:hidden;
/**border:1px solid #CCC;
_border:1px solid #CCC;
border:1px solid #CCC\9;
*:first-child+html border:1px solid #CCC;*/
}
#wrapper #inform-box{width:325px;
					overflow:hidden;
					float:left;
					margin:0px 20px 10px 10px;}
#header h1 {
/*  border-bottom: 1px solid #CCC;*/
	background:url(../images/logo_login.png) no-repeat center;
	width:auto;
	height:70px; color: #555;
	text-align:center;
    padding-bottom: 0.2em;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-indent:-9999px;
   
}
#content{float:left; /*box-shadow:0px 0px 10px #CCC;
-moz-box-shadow:0px 0px 10px #ccc;
-webkit-box-shadow:0px 0px 10px #ccc;*/
padding:20px;}
#wrapper h3 {
    color: #555;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	/*background:url(images/logo.png) no-repeat center;*/
	width:auto;
	margin-bottom:10px;
	/*height:70px;*/ color: #555;
	text-align:center;
    padding-bottom: 0.2em;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-indent:-9999px;
	border-bottom:1px solid #CCC;
}
#content .info{width:450px;}
#footer {
    text-align: center;
}
input[type="text"],input[type="password"]{border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	 background-image: none;
	border: 1px solid #B3B3B3;
	color: #6F6F6F;
	padding:1px 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	height:25px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
	
}
input[type="text"]:foucs,input[type="password"]:focus{ border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		  }

#wrapper button, #wrapper a{background-color: #E6E6E6;

    border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 2px 5px rgba(255, 255, 255, 0.5) inset, 0 -2px 5px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 2px 5px rgba(255, 255, 255, 0.5) inset, 0 -2px 5px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 2px 5px rgba(255, 255, 255, 0.5) inset, 0 -2px 5px rgba(0, 0, 0, 0.1) inset;
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;}
#wrapper  label{text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); width:120px; line-height:30px; text-align:center; font-size:12px;} 
#wrapper form.horizontal li.submit {
    margin-left: 120px!important;
}
#wrapper .para-over{width:100%;
				margin:10px 20px 10px 0px;
				height:125px;
				border-radius:3px;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				-ms-border-radius:3px;
				-0-border-radius:3px;
				-khtml-border-radius:3px;
				border:1px solid #CCC;
				padding:5px 0px 0px 5px;
				overflow:auto;}
/*button
-------------------------------------------------------------*/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
/*Layout Design
---------------------------------------------------------------------------------------*/
.box {
    background-color: #F7F9FA;
    border: 1px solid #BEBEC4;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    margin: 0 0.9% 16px;
}
._100 {
    width: 97.9%;
}
.box-header {
    background: -moz-linear-gradient(center top , #E5EAEB, #CFD6D9) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #BEBEC4;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #292929;
    /*cursor: move;*/
    font-size: 15px;
    padding: 8px 10px 7px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.box-content {
    background-color: #F7F9FA;
    border-radius: 0 0 3px 3px;
    color: #666666;
    font-size: 15px;
	padding:15px;
}
p.left{width:auto;float:left; line-height:20px; padding:0px 10px;margin:0px;}
p.right{width:auto;float:right; line-height:20px; padding:0px 10px; margin:0px;}
p.right a{text-decoration:none; color:inherit;}
.footer-wrap{ width:980px; margin:auto;}
/*form*
-----------------------------------------------*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

input,
textarea {
  width: 210px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #bbb;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.required{color:#F00;font-weight:bold}
